<div class="w3-container">
<form>
 <!--Create New User Here -->
  <h3>Create New User:</h3>
  <input ng-hide="true" type="text" ng-model="userid" ng-disabled="true">
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
    <br>
    <label>Title:</label>
    <input class="w3-input w3-border" type="text" ng-model="title" ng-disabled="!edit" placeholder="Title">
    <br>
    <label>Sex:</label>
    <input class="w3-input w3-border" type="text" ng-model="sex" ng-disabled="!edit" placeholder="Sex">
    <br>
    <label>Age:</label>
    <input class="w3-input w3-border" type="text" ng-model="age" ng-disabled="!edit" placeholder="Age">
  <br>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
  <br>
  <button class="w3-btn w3-green w3-ripple" ng-click = "createNewUser()" ng-disabled="error || incomplete">&#10004; Create Now</button>
  </br>
</form>
<br>
</div>